<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentacio Api</title>
</head>
<body>
    <h1> TIPO_RECURSO</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR TIPO_RECURSOs</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar Tipo de Recurso</td></tr>
        <tr><td>URL</td>  <td>/RegistroRecurso</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo Tipo de Recurso en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Token:token</td></tr>
        <tr><td>Usuarios</td> <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_recursos":"abono liquido","cantidad_medida":12, "unidades_medidas":"litro","extras":"mensaje opcional"}</td></tr>
        <tr><td>Respuestas json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        { 
            "status": 200,
            "message": "Se registro el recurso con éxito",
    }
    <br>
    Incorrecto:
    
    Status: 403
    body:{
        "status": 403,
        "message" : 'No se registró el recurso',
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td><td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR TIPO RECURSO</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar actividad tipo de recurso</td></tr>
        <tr><td>URL</td>  <td>/actualizarRecurso/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar una tipo de recurso existente en la base de datos por medio del id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Headers</td>  <td>Token:token</td></tr>
        <tr><td>Usuario</td> <td>Adminitrador</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_recursos":"veneno","cantidad_medida":12, "unidades_medidas":"ml","extras":"mensaje opcional"}</td></tr>
        <tr><td>Respuestas json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito",
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : 'No se encontró el registro para actualizar'
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <h3>Requerimiento 3. Documentacion ENDPOINT DESACTIVAR ACTIVIDAD</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Desactivar Finca</td></tr>
        <tr><td>URL</td>  <td>/desactivarRecurso/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite desactivar una finca existente en la base de datos por medio de su id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Token:token</td></tr>
        <tr><td>Usuario</td> <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td></td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": `Se cambió el estado del recurso a '$' con éxito`
            
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" :  'No se encontró el recurso con el ID especificado'
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <br>
    <h3>Requerimiento 3. Documentacion ENDPOINT BUSCAR TIPO RECURSO</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar Actividad</td></tr>
        <tr><td>URL</td>  <td>/buscarRecurso/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar una actividad por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Token:token</td></tr>
        <tr><td>Usuario</td> <td>Administrador </td></tr>
        <tr><td>Request json</td>  <td>Null </td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
        {
            "nombre_recursos":"veneno",
            "cantidad_medida":12, 
            "unidades_medidas":"ml",
            "extras":"mensaje opcional,
            "estado":"activo"
        }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT LISTAR TIPO RECURSO</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Actividad</td></tr>
        <tr><td>URL</td>  <td>/listarRecurso</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todos los Tipo de Recurso registrados en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Usuarios</td> <td>Administrador</td></tr>
        <tr><td>Header</td>  <td>Token:token</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
        {
            "nombre_recursos":"veneno",
            "cantidad_medida":12, 
            "unidades_medidas":"ml",
            "extras":"mensaje opcional,
            "estado":"activo"
        },
        {
            "nombre_recursos":"pala",
            "cantidad_medida":1, 
            "unidades_medidas":"unidad",
            "extras":"mensaje opcional,
            "estado":"inactivo"
        }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No hay recursos"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>